opencv-python
Pillow
spacy
sentence_transformers
scikit-learn
git+https://github.com/jebin2/lib.git
git+https://github.com/jebin2/custom_logger.git
git+https://github.com/jebin2/gemiwrap.git
git+https://github.com/jebin2/browser_manager.git
git+https://github.com/jebin2/chat_bot_ui_handler.git
scenedetect[opencv]
accelerate
torchvision
sentencepiece
json_repair
ultralytics
git+https://github.com/huggingface/transformers.git
requests
git+https://github.com/jebin2/gemiwrap.git