opencv-python
Pillow
spacy
sentence_transformers
scikit-learn
transformers
git+https://github.com/jebin2/custom_logger.git
git+https://github.com/jebin2/gemiwrap.git
scenedetect[opencv]
accelerate
torchvision
sentencepiece